.c-checklist

  //- Grab introduction based on the name of the section
  if introductions[0][sectionTitle.toLowerCase().replace(/\s+/g, '-')]

    each el in introductions[0][sectionTitle.toLowerCase().replace(/\s+/g, '-')]

      p.c-checklist__intro= el


  //- List of all items elements based on the dataSection variable
  .c-checklist__section

    each section, i in dataSection

      if section.name

        section.c-checklist__subsection(data-subsection=section.name.toLowerCase().replace(/\s+/g, '-'))

          h3.s-checklist__subsection__title= section.name

          if section.introduction
            p= section.introduction

          if section.content
            ul.c-checklist__list

              each item, i in section.content

                include ../components/checklist/class

                //- data-item-check (false or true) => Element is checked or not
                //- data-item-priority (high, medium or low) => The priority of the task
                //- data-item-id (number) => the ID of the elements based on dataSection array
                //- data-item-dropdown (open close or false) => State of the dropdown
                //- data-item-visible (true or false) => Visibility of the item used by the tag filter
                li.c-checklist__item.js-item(class=` ${allClass}`, data-item-priority=priorityClass ,data-item-id=i, data-item-check="false", data-item-dropdown=dataItemDropdown, data-item-visible="true" aria-hidden="false")

                  .c-checklist__item__inner

                    .c-checklist__body

                      //- Columns of the item

                      //- Checkbox column
                      include ../components/checklist/checkbox

                      //- Label column
                      include ../components/checklist/label

                      //- Dropdown column
                      include ../components/checklist/dropdown

            if section.ressources

              .c-checklist__ressources

                h4= translation.ADD_RESSOURCES

                ul.c-checklist__ressources__list

                  each link in section.ressources

                    li
                      img.c-checklist__favicon(src="/img/icons/1x1.png" data-src=`https://www.google.com/s2/favicons?domain_url=${link.url}`, alt="")
                      a(href=link.url)= link.title
